# Secrets for google genai authentication
GOOGLE_API_KEY=google_api_key
GOOGLE_GENAI_USE_VERTEXAI=boolean
GOOGLE_SERVICE_ACCOUNT_FILE=service_key_json_file
GEMINI_API_KEY=gemini_api_key
GEMINI_MODEL_NAME=model_name

GEMINI_BASE_URL=base_url
GOOGLE_CLOUD_PROJECT=google_cloud_project
GOOGLE_CLOUD_LOCATION=location
GOOGLE_PROJECT_ID=google_project_id
GOOGLE_PROJECT_LOCATION=location

LEGAL_NEO4J_USERNAME=neo4j_username

LEGAL_NEO4J_URI=neo4j_base_url
LEGAL_NEO4J_PASSWORD=neo4j_password

# Secrets for Main KG database
LEGAL_NEO4J_URI_LARGE=neo4j_base_url_large
LEGAL_NEO4J_PASSWORD_LARGE=neo4j_password_large


# Secrets for CaseLaw Neo4j Database
CASELAW_NEO4J_URI=caselaw_neo4j_url
CASELAW_NEO4J_USERNAME=caselaw_neo4j_username
CASELAW_NEO4J_PASSWORD=caselaw_neo4j_password

# Secrets for OpenAI API
OPENAI_API_KEY=openai_api_key
OPENAI_MODEL_NAME=openai_model_name
OPENAI_EMBEDDINGS_MODEL_NAME=openai_embeddings_model_name
OPENAI_LARGE_EMBEDDINGS_MODEL_NAME=openai_embeddings_large_model_name

OLLAMA_EMBEDDINGS_MODEL_NAME=ollama_model_name
OLLAMA_HOST=ollama_host

# Secrets for Weaviate Database
WEAVIATE_HTTP_HOST=WEAVIATE_HTTP_HOST
WEAVIATE_HTTP_PORT=WEAVIATE_HTTP_PORT
WEAVIATE_GRPC_HOST=WEAVIATE_GRPC_HOST
WEAVIATE_GRPC_PORT=WEAVIATE_GRPC_PORT
 
# Secrets for OpenRouter
OPENROUTER_MODELNAME="openai/gpt-oss-120b"
OPENROUTER_BASE_URL="https://openrouter.ai/api/v1"